*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

body {
    /* font-family: "Poppins", sans-serif; */
    background-color: aliceblue;
    /* color: black; */
    overflow-x: hidden;
  }



/* navbar part */

.nav-sticky.navbar-custom {
    margin-top: 0px;
    padding: 15px 0px;
    background-color: ghostwhite;
    -webkit-box-shadow: 0 10px 33px rgba(140, 140, 140, 0.1);
            box-shadow: 0 10px 33px rgba(140, 140, 140, 0.1);
}

.nav-sticky a{
    color:black;
}

.navbar-custom {
    padding: 40px 0px;
    width: 100%;
    border-radius: 0px;
    z-index: 999;
    margin-bottom: 0px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

.nav-link{
    color: white;
    font-weight: 50;
    /* font-size:18px; */
}

.form-inline{
    padding-left:100px;
}

.form-inline button{
    background-color:white;
}

.form-inline button:hover{
    background-color: black;
}

.sticky{
    margin-top: 30px;
}


/* home part */

#home-1{
    /* background: -webkit-linear-gradient(bottom left, red 20px, yellow, green, blue 90%); */
    /* background: -webkit-gradient(linear, left top, right top, from(#c3b3dd), to(#3e0b91)); */
    background: -webkit-linear-gradient(top left,white 1%, #29b3b8 25%, #3e0b91);
    /* background: linear-gradient(to right, #bfe4eb, #0a67d1); */
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 130px 0px;
}

.promo-title{
    font-weight: 600;
    padding-top: 200px;
    margin-bottom: 20px;
    color: white;
}

/* .bottom-img{
    margin-right:500px;
} */

.home-shape {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
  }


/* Why KNS */

#why-kns{
    height:500px;
    background-color: #fafaff;
}

.kns-text{
    margin: 0px 500px 0px 0px;
    font-weight: bold;
    font-size: 30px;
}

.kns-desc{
    margin-left: 400px;
    margin-top: -160px;
    background-color: #ffffff;
    text-align: justify;
}



.kns-text p{
    padding-top:200px;
}






/* our services */

#our-services{
    padding: 90px 0 70px;
    background-color: #fafaff;
}

.service-single{
    border: 1px solid #e6f0fa;
    padding: 35px 22px 20px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 0 30px;
    height: 300px;
}

.our-service-img{
    margin-bottom:10px;
    margin-top:-15px;
}

/* Why came for karnali */

.about-cont{
    text-align: justify;
    margin-bottom: 160px;
}

.about-img{
    padding-top:50px;
}

/* Testemonials */

.testemonial-img{
    max-width: 90%; 
    padding-top:20px; 
    padding-left:100px;
    border-right: solid grey;
}

/* Brain behind  */

.brain-name{
    font-weight: bold;
    font-size: 20px;
}
